@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
*{box-sizing: border-box;}
body{
    padding:0;
    margin:0;
    min-width:320px;
}
p{
    font-size:14px;
}
h1{
    font-size:30px;
}
section.sec01 .box .mark{
    width:50px;
    height: 80px;
}
.box.b01 .mark{
    top:0;
}
section.sec01 .box.b02 .mark{
    top:80px;
}
section.sec01 .box.b03 .mark{
    top:160px;
}
section.sec01 .box.b04 .mark{
    top:240px;
}
div.box.b01{
    right:50px;
}
div.box.b02{
    right:50px;
}
div.box.b03{
    right:50px;
}
div.box.b04{
    right:50px;
}
div.b02 .wrap,
div.b03 .wrap{
    height: 80%;
    flex-flow:column;
    margin-top:0;
}
div.b02 .wrap .left,
div.b02 .wrap .right,
div.b03 .wrap .left,
div.b03 .wrap .right{
    width:100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
div.b02 .wrap .left,
div.b03 .wrap .left{
    background-size:cover;
}
div.box>h2{
    font-size:25px;
    top:5%;
}
div.b04{
    justify-content: center;
    align-items: center;
}
div.b04 .left{
    width:40%;
    padding-left:40px;
}
div.b04 .left .photo{
    width:100px;
    height: 100px;
}
div.b04 .right{
    width:30%;
    padding-right: unset;
    margin-left:20px;
    padding-left:10px;
}
div.b04 .right .skill{
    width:100%;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:10px;
}
div.skill .bar{
    width:100%;
    margin-left:0;
}
.s01 .bar::before{
    width:75%;
}
.s02 .bar::before{
    width: 70%;
}
.s03 .bar::before{
    width:60%;
}
.s04 .bar::before{
    width:60%;
}
.s05 .bar::before{
    width:65%;
}
.s06 .bar::before{
    width:65%;
}
.s07 .bar::before{
    width:55%;
}
div.b04 h3{
    font-size:18px;
}
div.b04 span{
    font-size:15px;
}
div.box>h2{
    left:40%;
}