@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
*{box-sizing: border-box;}
body{
    padding:0;
    margin:0;
    min-width:320px;
}
header{
    width:100%;
    height: 50px;
    display: none;
}
section{
    width:100%;
    height: 100vh;
}
div.inner{
    width:100%;
    height:100vh;
    margin:0;
}
section.sec01>div.inner>div.box{
	width:80%;
	height: 80vh;
	border:2px solid #000;
	position:absolute;
	left:5%;
	top:100px;
}
section.sec01>div.inner>div.box>div.inbox{
	width:100%;
	height: 80vh;
	border:2px solid #000;
	position:absolute;
	left:10%;
	top:50px;    
}
section.sec01>div.inner>div.box>div.inbox>div.title>p{
    font-size:1.8em;
}
section.sec01>div.inner>div.box>div.inbox>div.title>span{
    font-size:1.3em;
}
section.sec02>div.inner,
section.sec03>div.inner,
section.sec04>div.inner,
section.sec05>div.inner,
section.sec06>div.inner{
	padding-top:20px;
	display: flex;
	flex-flow:column;
    position: relative;
    height: 100%;
	justify-content: center;
}
section>div.inner>div.content{
	width:100%;
	height: 80%;
	padding:0;
	display: flex;
	flex-flow:column;
	align-items: center;
	justify-content: center;
}
section>div.inner>div.content>div.mokup{
    width:100%;
	height: 50%;
	margin:0;
	padding:0;
    display: flex;
    flex-flow:row;
    justify-content: center;
    position:relative;
    z-index: 15;
    align-items: center;
}
section>div.inner>div.content>div.mokup>img{
    height: 100%;
    width:unset;
}
section.sec02>div.inner>div.title>h1,
section.sec02>div.inner>div.title>h2,
section.sec03>div.inner>div.title>h1,
section.sec03>div.inner>div.title>h2,
section.sec04>div.inner>div.title>h1,
section.sec04>div.inner>div.title>h2,
section.sec05>div.inner>div.title>h1,
section.sec05>div.inner>div.title>h2,
section.sec06>div.inner>div.title>h1,
section.sec06>div.inner>div.title>h2{
	font-size:1.82em;
	margin:0;
	padding:0;
}
section>div.inner>div.content>div.text{
	width:100%;
	height: 50%;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: left;
    margin:0 auto;
}
section>div.inner>div.content>div.text>h1{
	font-size:1.3em;
	margin:10px;
}
section>div.inner>div.content>div.text>p{
    font-size:1em;
    margin:10px;
}

section>div.inner>div.content>div.text>div.view{
    width:100%;
    height: 50px;
    border:1px solid #000;
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-top:20px;
    justify-content: center;
}
section>div.inner>div.content>div.text>div.view>a{
    color:#000;
    text-decoration: none;
    font-size:1.3em;
    margin:0;
    display: block;
    text-align: center;
}
section.sec06{
    margin-bottom:20px;
}
section.profile{
    width:100vw;
    height: 80vh;
    left:0;
    top:100vh;
    display: flex;
    flex-flow:column;
    padding:10px 0;
    transition:top 0.3s;
}
section.on{
    left:none;
    top:20vh;
    transition:top 0.3s;
}
section.profile>div.pro{
    width:100%;
    height: 7%;
    left:0%;
    top:-7%;
}
section.profile>div.left,
section.profile>div.right{
    width:100%;   
}
section.profile>div.left>div.photo{
    width:100px;
    height: 100px;
}
section.profile>div.left>h3,
section.profile>div.left>span{
    font-size:1em;
    margin:0;
}
section.profile>div.right{
    padding:0 5%;
}
section.profile>div.right>div.skill{
    width:90%;
    margin-top:5px;
}
section.profile>div.right>div.skill>span{
    font-size:1em;
}
div.skill .bar{
    height: 5px;
    margin-top:10px;
}
.bar::before{
    height: 5px;
}