@charset "UTF-8";
@-webkit-keyframes myswing{
    from{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to{
        -webkit-transform: translateX(200%);
        transform:translateX(200%);
    }
}
@keyframes myswing {
    from{
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to{
        -webkit-transform: translateX(200%);
        transform:translateX(200%);
    }
}