@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
*{box-sizing: border-box;}
body{
    padding:0;
    margin:0;
    min-width:1280px;
}
h1, h2, h3{
    text-align: center;
}
header{
    position: relative;
    width:100%;
    height: auto;
}
header nav{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(255,255,255,0.5);
}
h1{
    color:inherit;
    margin:3em;
    text-align: center;
}
.vertical-slider{
    height: 100vh;
    overflow: hidden;
    position: relative;
    width:100%;
}
.slide-content{
    display: block;
    position: relative;
    width:100vw;
    height: 100vh;
}
div.wrap{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-flow:row;
    justify-content:space-around;
    align-items: center;
    padding: 0 300px;
    background:linear-gradient(to right ,rgba(255,255,255,1)50%, rgba(255,255,255,0))
}
div.wrap>p{
    width:300px;
    text-align: center;
    font-weight: 600;
    font-size:20px;
    color:#3f3f3f;
    word-wrap: break-word
}
div.wrap .photo{
    display: flex;
    flex-flow:column;
    justify-content:center;
    align-items: center;
}
.slide{
    color:#fff;
    display: inline-block;
}
.vertical-slide.s01{
    background-image:url(../images/sub/rose_01.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.vertical-slide.s02{
    background-image:url(../images/sub/poison_02.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 250% center;
}
.vertical-slide.s03{
    background-image:url(../images/sub/jasmine_01.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 130% center;
}
.vertical-slide.s04{
    background-image:url(../images/sub/joy_02.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
}
.slick-dots li button::before,
.slick-dots li.slick-active button::before{
    color:rgba(0,0,0,0.65);
}
.vertical-slider.slick-dotted{
    margin-bottom:0;
}
.vertical-slider > .slick-dots{
    bottom:0;
    left:.5em;
    padding:0;
    right:auto;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width:auto;
}
.vertical-slider > .slick-dots li{
    display: block;
    margin:80px 50px;
}
.vertical-slider > .slick-dots li button{
    display: block;
    margin:80px 50px;
}
/* .slick-active #slick-slide-control00::before{
    content:"1947";
    font-size:25px;
    font-weight: 600;
    width:100px;
    font-family:Times New Roman;
    height:30px;
}
.slick-active #slick-slide-control01::before{
    content:"1985";
    font-size:25px;
    font-weight: 600;
    font-family:Times New Roman;
    width:100px;
    height:30px;
}
.slick-active #slick-slide-control02::before{
    content:"1999";
    font-size:25px;
    font-weight: 600;
    width:100px;
    font-family:Times New Roman;
    height:30px;
}
.slick-active #slick-slide-control03::before{
    content:"2018";
    font-size:25px;
    font-weight: 600;
    font-family:Times New Roman;
    width:100px;
    height:30px;
} */
div.line01{
    position: absolute;
    width:4px;
    height: 100%;
    background:#000;
    top:0;
    left:20%;
}
footer{
    width:100%;
    height: 20vh;
    background:#000;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
footer .inner{
    width:1200px;
    margin:0 auto;
    display: flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: center;
}
footer .inner div.logo{
    background:url(../images/dior/logoW.png)0 0 no-repeat;
    width:120px;
    height: 80px;
    background-size:contain;
}
footer .inner .line{
    display: flex;
    flex-flow:row;
    align-items: center;
}
footer .inner .line span{
    cursor: pointer;
    margin:5px 0;
    font-size:14px;
    color:#fbfbfb;
    margin:0 10px;
    position: relative;
}
footer .inner .line span::after{
    width:1px;
    height: 60%;
    background:#fbfbfb;
    position: absolute;
    content:"";
    right:-10px;
    top:25%;
}
footer .inner .line span:last-child::after{
    background:none;
}
footer .inner .bottom{
    margin-top:15px;
}
footer .inner .bottom span{
    color:#fbfbfb;
    font-size:13px;
}