@charset "UTF-8";


@font-face {
    font-family: 'Nanum Gothic';
    font-style: light;
    font-weight: 300;
    src: url(../font/NanumGothicLight.ttf) format('ttf')
    }
    
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NanumGothic-Regular.woff) format('woff'),
        url(../font/NanumGothic-Regular.woff2) format('woff2'),
    }
    @font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NanumGothic.ttf) format('ttf')
    }
    @font-face {
    font-family: 'Nanum Gothic';
    font-style: bold;
    font-weight: 700;
    src: url(../font/NanumGothicBold.ttf) format('ttf')
    }
    @font-face {
        font-family: 'Nanum Gothic';
        font-style: bold;
        font-weight: 900;
        src: url(../font/NanumGothicExtraBold.ttf) format('ttf')
        }
    
    @font-face {
        font-family: 'Nanum Gothic';
        font-style: bold;
        font-weight: 900;
        src: url(../font/NanumGothicExtraBold.ttf) format('ttf')
        }
 
}@font-face {
    font-family: 'Nanum Square';
    font-style: light;
    font-weight: 300;
    src: url("../font/NanumSquareL.ttf") format('ttf')
    }
    
@font-face {
    font-family: 'Nanum Square';
    font-style: normal;
    font-weight: 500;
    src: url("../font/NanumSquareR.ttf") format('ttf'),
    }

    @font-face {
    font-family: 'Nanum Square';
    font-style: bold;
    font-weight: 700;
    src: url("../font/NanumSquareB.ttf") format('ttf')
    }
    @font-face {
        font-family: 'Nanum Square';
        font-style: bold;
        font-weight: 900;
        src: url("../font/NanumSquareEB.ttf") format('ttf')
        }
    